{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 text-center">
      <h1 class="mb-4">{% trans "Confirm Access" %}</h1>
      <p class="lead mb-4">
        {% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}
      </p>

      {% block reauthenticate_content %}{% endblock %}

      {% if reauthentication_alternatives %}
        <hr>
        <h2 class="mt-4 mb-3">{% translate "Alternative options" %}</h2>
        <div class="d-flex justify-content-center gap-2 flex-wrap">
          {% for alt in reauthentication_alternatives %}
            <a href="{{ alt.url }}" class="btn btn-outline-primary">
              {{ alt.description }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
