{% extends "account/base_manage.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm border border-danger">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">{% trans "Sign Out" %}</h4>
            </div>
            <div class="card-body">
                <p class="lead">
                    {% trans 'Are you sure you want to sign out?' %}
                </p>

                {% url 'account_logout' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-danger">
                            {% trans 'Sign Out' %}
                        </button>
                        <a href="/" class="btn btn-outline-secondary">
                            {% trans 'Cancel' %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
