{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow border border-success">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">{% trans "Change Password" %}</h4>
            </div>
            <div class="card-body">
                <p class="lead mb-4">
                    {% trans 'Your password is now changed.' %}
                </p>
                <a href="{% url 'account_login' %}" class="btn btn-outline-primary">
                    {% trans "Back to Login" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
