{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm border-success">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">{% trans "Password Reset" %}</h4>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="lead">
                    {% blocktrans %}
                        We have sent you an email. If you have not received it, please check your spam folder.
                        Otherwise, contact us if you do not receive it in a few minutes.
                    {% endblocktrans %}
                </p>

                <div class="mt-4">
                    <a href="{% url 'account_login' %}" class="btn btn-outline-primary">
                        {% trans "Back to Login" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
