{% extends "account/base_entrance.html" %}
{% load i18n allauth %}

{% block head_title %}
    {% trans "Sign Up Closed" %}
{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
  <div class="text-center">
    <h1 class="display-5 mb-3">
      {% trans "Sign Up Closed" %}
    </h1>
    <p class="lead text-muted">
      {% trans "We are sorry, but the sign up is currently closed." %}
    </p>
  </div>
</div>
{% endblock content %}
