{% extends "allauth/layouts/base.html" %}


{% load i18n allauth %}
{% block body %}
    
                    {% if messages %}
        <div class="row">
            <div class="col-md-8 mx-auto">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
{% block content %}
{% endblock %}
{% endblock %}
