<!-- quiz/history.html -->
{% include 'allauth/layouts/base.html' %}

<div class="container text-center mt-5">
{% block content %}
    <h2>Quiz History</h2>
    <br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date Taken</th>
      <th scope="col">Passed</th>
      <th scope="col">Correct Answers</th>
      <th scope="col">Incorrect Answers</th>
      <th scope="col">Total Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for record in history %}
        <tr>
            <td>{{ record.date_taken|date:"Y-m-d H:i" }}</td>
            <td>{{ record.passed|yesno:"Yes,No" }}</td>
            <td>{{ record.correct_answers }}</td>
            <td>{{ record.incorrect_answers }}</td>
            <td>{{ record.time_display}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}




